# Dependencies
/frontend/node_modules
/backend1/node_modules
node_modules/
/.pnp
.pnp.js

# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
/backend2/env/
/backend2/db.sqlite3
env/
venv/
ENV/

# Testing
/coverage
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/

# Production
/frontend/build
/frontend/dist
/backend1/dist
/backend2/dist
build/
dist/

# Databases
*.sqlite3
db.sqlite3
*.db

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
*.swn
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
logs/

# Media and static files
/media
/static
/backend2/media/
/backend2/static/

# Miscellaneous
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
Thumbs.db